Repository dashmug/glue-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports, update-requirements

poetry-check:
  name: Validate poetry config
  entry: poetry check
  language: python
  pass_filenames: false

format-python:
  name: Format Python code
  language: system
  entry: poetry run ruff format

lint-python:
  name: Lint Python code
  language: system
  entry: poetry run ruff check
  args:
  - --fix

check-python-type-annotations:
  name: Check Python Type Annotations
  language: system
  entry: env MYPYPATH=src poetry run mypy .
  pass_filenames: false

check-python-imports:
  name: Check Python Imports
  language: system
  entry: poetry run lint-imports
  pass_filenames: false

update-requirements:
  name: Update requirements.txt
  language: system
  entry: poetry export --with=dev --output docker/requirements.txt
  pass_filenames: false

chore: Update dependencies
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: poetry-check

chore: Update dependencies (#154)
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: poetry-check

feat: Add more options supported in Redshift
  src/glue_utils/pyspark/connection_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

fix: Data type
  src/glue_utils/pyspark/connection_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Add more options supported in Redshift (#155)
  src/glue_utils/pyspark/connection_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

chore: Update dependencies
  Makefile
  docker/requirements.txt
  pyproject.toml
  sonar-project.properties
  uv.lock
Due: poetry-check

chore: Update dependencies (#160)
  Makefile
  docker/requirements.txt
  pyproject.toml
  sonar-project.properties
  uv.lock
Due: poetry-check

feat: Support conversion for primitive field types
  pyproject.toml
  src/glue_utils/options.py
  src/glue_utils/pyspark/__init__.py
  src/glue_utils/pyspark/options.py
  test/pyspark/test_options.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Support conversion for primitive field types (#159)
  pyproject.toml
  src/glue_utils/options.py
  src/glue_utils/pyspark/__init__.py
  src/glue_utils/pyspark/options.py
  test/pyspark/test_options.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

release: Bump version 0.9.2 -> 0.10.0
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

chore: Makefile fixes
  Makefile
  uv.lock
Due: none

chore: Fix build config
  pyproject.toml
Due: poetry-check

release: Bump version 0.10.0 -> 0.10.1
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

fix: Build process
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: poetry-check

fix: Build process (#161)
  docker/requirements.txt
  pyproject.toml
Due: poetry-check

release: Bump version 0.10.1 -> 0.10.2
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Support Glue version 5
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
  docker/requirements.txt
  pyproject.toml
  test/pyspark/test_job.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Support Glue version 5 (#164)
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
  docker/requirements.txt
  pyproject.toml
  test/pyspark/test_job.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Allow for converter methods
  src/glue_utils/options.py
  src/glue_utils/pyspark/__init__.py
  src/glue_utils/pyspark/options.py
  test/pyspark/test_options.py
  test/test_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Allow for converter methods (#166)
  src/glue_utils/options.py
  src/glue_utils/pyspark/__init__.py
  src/glue_utils/pyspark/options.py
  test/pyspark/test_options.py
  test/test_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

release: Bump version 0.10.2 -> 0.11.0
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

chore: Minor updates
  .github/workflows/ci.yml
  Makefile
  uv.lock
Due: none

fix: Include py.typed in package
  docker/requirements.txt
  pyproject.toml
Due: poetry-check

fix: Include py.typed in package (#167)
  docker/requirements.txt
  pyproject.toml
Due: poetry-check

release: Bump version 0.11.0 -> 0.11.1
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

chore: Update dependencies
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: poetry-check

chore: Update dependencies (#170)
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: poetry-check

chore: Update dependencies
  docker/requirements.txt
  pyproject.toml
  test/test_options.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

fix: ImportError on typing_extensions in Glue 5.0
  src/glue_utils/options.py
  src/glue_utils/pyspark/job.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

fix: Python 3.9 doesn't support Union syntax
  Makefile
  test/test_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

release: Bump version 0.11.1 -> 0.11.2
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

chore: Add basic Copilot instructions
  .github/copilot-instructions.md
Due: none

chore: Add basic Copilot instructions (#177)
  .github/copilot-instructions.md
Due: none

chore: Improve instructions
  .github/copilot-instructions.md
Due: none

chore: Improve instructions (#178)
  .github/copilot-instructions.md
Due: none

chore: Update dependencies
  README.md
  pyproject.toml
  uv.lock
Due: poetry-check

chore: Update dependencies (#180)
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  uv.lock
Due: poetry-check

feat: Support list and dict options
  pyproject.toml
  src/glue_utils/options.py
  test/test_options.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Support list and dict options (#182)
  pyproject.toml
  src/glue_utils/options.py
  test/test_options.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

release: Bump version 0.11.2 -> 0.12.0
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
  uv.lock
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

Path conditions:
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  format-python: any of: \.py$
  lint-python: any of: \.py$
  check-python-type-annotations: any of: \.py$
  check-python-imports: any of: \.py$
  update-requirements: any of: poetry.lock
