Repository dashmug/glue-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports, update-requirements

poetry-check:
  name: Validate poetry config
  entry: poetry check
  language: python
  pass_filenames: false

format-python:
  name: Format Python code
  language: system
  entry: poetry run ruff format

lint-python:
  name: Lint Python code
  language: system
  entry: poetry run ruff check
  args:
  - --fix

check-python-type-annotations:
  name: Check Python Type Annotations
  language: system
  entry: env MYPYPATH=src poetry run mypy .
  pass_filenames: false

check-python-imports:
  name: Check Python Imports
  language: system
  entry: poetry run lint-imports
  pass_filenames: false

update-requirements:
  name: Update requirements.txt
  language: system
  entry: poetry export --with=dev --output docker/requirements.txt
  pass_filenames: false

release: Bump version 0.8.0 -> 0.8.1
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

ci: Speed up CI process
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docker/Dockerfile
  docker/requirements.txt
  poetry.lock
  pyproject.toml
  test/pyspark/context/conftest.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports, update-requirements

chore: Update dependencies
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

chore: Update dependencies
  .github/workflows/ci.yml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

chore: Update dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

chore: Update dependencies
  docker/requirements.txt
  poetry.lock
  pyproject.toml
  src/glue_utils/pyspark/connection_options.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports, update-requirements

chore: Update dependencies
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

fix: Security vulnerabilities from pyspark
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

ci: Fix trivy
  .github/workflows/ci.yml
Due: none

chore: Update dependencies
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

feat: Add port of itertools.batched
  src/glue_utils/helpers.py
  test/test_helpers.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

release: Bump version 0.8.1 -> 0.9.0
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

ci: Fix trivy error on too many requests
  .github/workflows/ci.yml
Due: none

fix: Revert databaseName property
  src/glue_utils/pyspark/connection_options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

chore: Update tomli
  docker/requirements.txt
  poetry.lock
Due: poetry-check, update-requirements

release: Bump version 0.9.0 -> 0.9.1
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

feat: Convert values of resolved options
  src/glue_utils/options.py
Due: format-python, lint-python, check-python-type-annotations, check-python-imports

ci: Do not persist git credentials
  .github/workflows/ci.yml
Due: none

chore: Update dependencies
  docker/requirements.txt
  poetry.lock
Due: poetry-check, update-requirements

style: Use Biome for formatting non-python files
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ci: Use zizmor to check GH actions workflow
  .github/workflows/ci.yml
Due: none

chore: Update dependencies
  .pre-commit-config.yaml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

fix: Secure github workflows
  .github/workflows/ci.yml
Due: none

chore: Update dependencies
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

chore: Update dependencies
  .pre-commit-config.yaml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
  src/glue_utils/pyspark/job.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports, update-requirements

chore: Update dependencies (#150)
  .github/workflows/ci.yml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check, update-requirements

feat: Switch to uv
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docker/requirements.txt
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: poetry-check, update-requirements

feat: Switch to uv (#151)
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docker/requirements.txt
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: poetry-check, update-requirements

chore: More fixes
  sonar-project.properties
  uv.lock
Due: none

release: Bump version 0.9.1 -> 0.9.2
  README.md
  pyproject.toml
  sonar-project.properties
  src/glue_utils/__init__.py
Due: poetry-check, format-python, lint-python, check-python-type-annotations, check-python-imports

Path conditions:
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  format-python: any of: \.py$
  lint-python: any of: \.py$
  check-python-type-annotations: any of: \.py$
  check-python-imports: any of: \.py$
  update-requirements: any of: poetry.lock
